*
{
    margin: 0px;
    padding: 0px;
}
Console {
    font-family: 'Ubuntu', sans-serif;
    word-wrap: break-word;
}
Console nav ul {
    padding-left: 40px;
    padding-top: 40px;
    position: absolute;
    height:30%;
    width:25%;
    overflow:hidden;
    overflow-y:scroll;
    background-color: rgb(25, 25, 25);
    border-radius: 0px;
    color: rgb(0, 102, 255);
    left: 100%;
    transform: translateX(-100%);
    list-style-type: none;
}
Console nav ul li error {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(119, 11, 11);
    color: rgb(255, 174, 0);
    border-radius: 2px;
}
Console nav ul li warn {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 174, 0);
    color: rgb(119, 11, 11);
    border-radius: 2px;
}
Console nav ul li log {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(50, 50, 50);
    color: rgb(150, 150, 150);
    border-radius: 2px;
}
Console nav ul li{
    padding-bottom: 9px;
    font-size: 12px;
    transition: all 0.1s;
}
Console nav ul li:hover{
    font-size: 25px;
}
Console input[type="text"] {
    position: absolute;
    padding-left: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:25%;
    resize: none;
    top: 30%;
    left: 100%;
    transform: translate(-100%, 40px);
    background-color: rgb(25, 25, 25);
    border-radius: 0px 0px 0px 20px;
    color: rgb(0, 102, 255);
}
Console input[type="text"]:focus {
    outline: none;
}